/* styles.module.scss */
.imgCarrousel {
  margin: 0;
  height: 160px; /* Sem aspas */
  color: #fff; /* Sem aspas */
  line-height: 160px; /* Sem aspas */
  text-align: center; /* Sem aspas */
  background: #364d79; /* Sem aspas */
}

.Carrousel {
  height: 20vh;
  width: auto;
}
