.aboutUsButton {
  border: 1px solid white;
  width: auto !important;
  padding: 0.3rem 2rem;
  font-size: 0.8rem;
  color: white;
  margin-top: 1.5rem;
}

.aboutUsButton:hover {
  background-color: white;
  color: var(--horus-blue);
}
